torch
torchvision
torchaudio
numpy
tqdm
Pillow
supervision==0.23.0
gradio
chardet
wget
ultralytics
setuptools
scikit-learn
timm
jupyter_bbox_widget 
roboflow 
dataclasses-json 
supervision
filterpy==1.4.5
scikit-image
pycocotools
moviepy
ultralytics-yolov5
wildlife-datasets
wildlife-tools
PytorchWildlife
git+https://github.com/facebookresearch/segment-anything.git
motmetrics
